<div class="containerRandom">
    <h2>{{carta()?.printed_name}}</h2>
    <div class="carta">
        <div class="left">
            <img [src]="carta()?.image_uris?.png" width="219px" height="306px" alt="{{carta()?.printed_name}}">
        </div>
        <div class="right">
            <ul class="datos">
                <li>@for (coste of coste(); track coste){<img [src]="coste.svg_uri" [alt]="coste.symbol" />}</li>
                <li>{{carta()?.printed_type_line}}</li>
                <li>{{carta()?.printed_text}}</li>
                <li>{{carta()?.artist}}</li>
                <li>{{carta()?.legalities?.commander}}</li>
            </ul>
        </div>
    </div>
</div>