<div class="containerRandom">
    <div class="titulo">
        @if (caras().length > 0) {
        <h3>{{caras()[0].printed_name || caras()[0].name}} // {{caras()[1].printed_name || caras()[1].name}}</h3>
        }@else {
        <h2>{{carta()?.printed_name || carta()?.name}}</h2>
        }
        <h2>@for (color of identidad(); track $index){<img class="simbolos" [src]="color.svg_uri"
                [alt]="color.symbol" />}</h2>
    </div>
    <div class="carta">
        <div class="left">
            @if (caras().length > 0 && typeof caras()[0].image_uris !== 'undefined') {
            <!-- Carta con doble cara -->
            <div class="tarjeta" (click)="voltear()" [@flipState]="flip">
                <div class=" frente">
                    <img [src]="caras()[0].image_uris.png" [alt]="caras()[0].printed_name || caras()[0].name">
                </div>
                <div class="detras">
                    <img [src]="caras()[1].image_uris.png" [alt]="caras()[1].printed_name || caras()[1].name">
                </div>
            </div>
            }@else{
            <div class="tarjeta">
                <img [src]="carta()?.image_uris?.png" alt="{{carta()?.printed_name || carta()?.name}}">
            </div>
            }
        </div>
        <div class="right">
            <ul class="datos">
                @if (simbolos()) {
                @if (caras().length > 0){
                @if (flip === 'inactive') {
                <li>@for (coste of coste(); track $index){<img class="simbolos" [src]="coste.svg_uri"
                        [alt]="coste.symbol" />}</li>
                <li>{{caras()[0].printed_type_line}}</li>
                <li
                    [innerHTML]="caras()[0].printed_text || caras()[0].oracle_text | recordatoriosPipe | simboloPipe:simbolos()">
                </li>
                @if (carta()?.layout === 'adventure') {
                <hr>
                <li>@for (coste of coste2(); track $index){<img class="simbolos" [src]="coste.svg_uri"
                        [alt]="coste.symbol" />}</li>
                <li>{{caras()[1].printed_type_line}}</li>
                <li
                    [innerHTML]="caras()[1].printed_text || caras()[1].oracle_text | recordatoriosPipe | simboloPipe:simbolos()">
                </li>
                }
                }@else {
                <li>@for (coste of coste2(); track $index){<img class="simbolos" [src]="coste.svg_uri"
                        [alt]="coste.symbol" />}</li>
                <li>{{caras()[1].printed_type_line}}</li>
                <li
                    [innerHTML]="caras()[1].printed_text || caras()[1].oracle_text | recordatoriosPipe | simboloPipe:simbolos()">
                </li>
                }
                }@else {
                <li>@for (coste of coste(); track $index){<img class="simbolos" [src]="coste.svg_uri"
                        [alt]="coste.symbol" />}</li>
                <li>{{carta()?.printed_type_line || carta()?.type_line}}</li>
                <li
                    [innerHTML]="carta()?.printed_text || carta()?.oracle_text || '' | recordatoriosPipe | simboloPipe:simbolos()">
                </li>
                }
                }
                @if (carta()?.flavor_text) {
                <hr>
                <li class="cursiva">{{carta()?.flavor_text}}</li>
                }
                <li>✒️{{carta()?.artist}}</li>
                <li>
                    <mat-chip-set aria-label="Fish selection">
                        @for (legalidad of legalidades(); track legalidad) {
                        <mat-chip [class]="legalidad[1]">{{legalidad[0].charAt(0).toUpperCase()+legalidad[0].slice(1)}}
                        </mat-chip>}
                    </mat-chip-set>
                </li>
            </ul>
        </div>
    </div>
</div>