@use '@angular/material' as mat;

h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

hr {
    border-width: 0 0 1px;
    $color: skyblue;
    color: $color;
    border-image: linear-gradient(90deg,
            rgba($color, 0),
            rgba($color, 1) 50%,
            rgba($color, 0) 100%) 0 0 100%;
    border-style: solid;
}

.titulo {
    display: flex;
    justify-content: space-between;
}

.containerRandom {
    background-color: rgba($color: whitesmoke, $alpha: 0.5);
    margin: auto;
    width: 70%;
    padding: 1rem;
    border: 1em solid rgba($color: black, $alpha: 0.8);
    border-radius: 5%;
}

.carta {
    display: flex;
    gap: 2em;

    .left {
        perspective: 1000px;

        .tarjeta {
            position: relative;
            width: 219px;
            height: 306px;
            transition: transform 0.5s;
            transform-style: preserve-3d;
            filter: drop-shadow(-10px 10px 43px rgba(0, 0, 0, 0.5));

            .frente,
            .detras {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
            }

            .detras {
                transform: rotateY(180deg);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.datos {
    list-style-type: none;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

mat-chip {
    height: 1em;
    margin: 0;
    font-size: small;
}

.legal {
    @include mat.chips-overrides((outline-color: green, elevated-container-color: green));
    color: whitesmoke;
}

.not_legal {
    @include mat.chips-overrides((outline-color: gray, elevated-container-color: gray));
    color: whitesmoke;
}