<ul class="container">
  <nav class="nav">
    <ul class="nav--list">
      <li class="item">
        <a href="/" ariaCurrentWhenActive="page" class="item--wrapper" data-item="home">Home</a>
      </li>
      <li class="item">
        <a routerLink="/MTG" routerLinkActive="active" ariaCurrentWhenActive="page" class="item--wrapper"
          data-item="mtg">MTG</a>
      </li>
      <li class="item">
        <a routerLink="/digimon" routerLinkActive="active" ariaCurrentWhenActive="page" class="item--wrapper"
          data-item="digimon">Digimon</a>
      </li>
    </ul>
  </nav>
</ul>
<router-outlet />